# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

sddr.pro
sddr.pro.user
awake/bin
awake/gen
awake/local.properties
libs
obj
third-party/gmp/.libs/
third-party/gmp/Makefile
third-party/gmp/config.h
third-party/gmp/config.log
third-party/gmp/config.m4
third-party/gmp/config.status
third-party/gmp/cxx/Makefile
third-party/gmp/demos/Makefile
third-party/gmp/demos/calc/Makefile
third-party/gmp/demos/calc/calc-config.h
third-party/gmp/demos/expr/Makefile
third-party/gmp/demos/pexpr-config.h
third-party/gmp/doc/Makefile
third-party/gmp/fib_table.h
third-party/gmp/gen-bases
third-party/gmp/gen-fac_ui
third-party/gmp/gen-fib
third-party/gmp/gen-psqr
third-party/gmp/gen-trialdivtab
third-party/gmp/gmp-mparam.h
third-party/gmp/gmp.h
third-party/gmp/libtool
third-party/gmp/mp.h
third-party/gmp/mp_bases.h
third-party/gmp/mpbsd/Makefile
third-party/gmp/mpf/Makefile
third-party/gmp/mpn/Makefile
third-party/gmp/mpn/add.c
third-party/gmp/mpn/add_1.c
third-party/gmp/mpn/add_n.asm
third-party/gmp/mpn/addmul_1.asm
third-party/gmp/mpn/and_n.c
third-party/gmp/mpn/andn_n.c
third-party/gmp/mpn/bdiv_dbm1c.c
third-party/gmp/mpn/bdiv_q.c
third-party/gmp/mpn/bdiv_q_1.c
third-party/gmp/mpn/bdiv_qr.c
third-party/gmp/mpn/binvert.c
third-party/gmp/mpn/cmp.c
third-party/gmp/mpn/com.c
third-party/gmp/mpn/copyd.asm
third-party/gmp/mpn/copyi.asm
third-party/gmp/mpn/dcpi1_bdiv_q.c
third-party/gmp/mpn/dcpi1_bdiv_qr.c
third-party/gmp/mpn/dcpi1_div_q.c
third-party/gmp/mpn/dcpi1_div_qr.c
third-party/gmp/mpn/dcpi1_divappr_q.c
third-party/gmp/mpn/div_q.c
third-party/gmp/mpn/dive_1.c
third-party/gmp/mpn/diveby3.c
third-party/gmp/mpn/divexact.c
third-party/gmp/mpn/divis.c
third-party/gmp/mpn/divrem.c
third-party/gmp/mpn/divrem_1.c
third-party/gmp/mpn/divrem_2.c
third-party/gmp/mpn/dump.c
third-party/gmp/mpn/fib2_ui.c
third-party/gmp/mpn/fib_table.c
third-party/gmp/mpn/gcd.c
third-party/gmp/mpn/gcd_1.c
third-party/gmp/mpn/gcd_lehmer.c
third-party/gmp/mpn/gcd_subdiv_step.c
third-party/gmp/mpn/gcdext.c
third-party/gmp/mpn/gcdext_1.c
third-party/gmp/mpn/gcdext_lehmer.c
third-party/gmp/mpn/gcdext_subdiv_step.c
third-party/gmp/mpn/get_d.c
third-party/gmp/mpn/get_str.c
third-party/gmp/mpn/hamdist.c
third-party/gmp/mpn/hgcd.c
third-party/gmp/mpn/hgcd2.c
third-party/gmp/mpn/invert.c
third-party/gmp/mpn/invert_limb.asm
third-party/gmp/mpn/invertappr.c
third-party/gmp/mpn/ior_n.c
third-party/gmp/mpn/iorn_n.c
third-party/gmp/mpn/jacbase.c
third-party/gmp/mpn/lshift.c
third-party/gmp/mpn/lshiftc.c
third-party/gmp/mpn/matrix22_mul.c
third-party/gmp/mpn/mod_1.c
third-party/gmp/mpn/mod_1_1.c
third-party/gmp/mpn/mod_1_2.c
third-party/gmp/mpn/mod_1_3.c
third-party/gmp/mpn/mod_1_4.c
third-party/gmp/mpn/mod_34lsub1.c
third-party/gmp/mpn/mode1o.c
third-party/gmp/mpn/mp_bases.c
third-party/gmp/mpn/mu_bdiv_q.c
third-party/gmp/mpn/mu_bdiv_qr.c
third-party/gmp/mpn/mu_div_q.c
third-party/gmp/mpn/mu_div_qr.c
third-party/gmp/mpn/mu_divappr_q.c
third-party/gmp/mpn/mul.c
third-party/gmp/mpn/mul_1.asm
third-party/gmp/mpn/mul_basecase.c
third-party/gmp/mpn/mul_fft.c
third-party/gmp/mpn/mul_n.c
third-party/gmp/mpn/mullo_basecase.c
third-party/gmp/mpn/mullo_n.c
third-party/gmp/mpn/mulmod_bnm1.c
third-party/gmp/mpn/nand_n.c
third-party/gmp/mpn/neg.c
third-party/gmp/mpn/nior_n.c
third-party/gmp/mpn/nussbaumer_mul.c
third-party/gmp/mpn/perfpow.c
third-party/gmp/mpn/perfsqr.c
third-party/gmp/mpn/perfsqr.h
third-party/gmp/mpn/popcount.c
third-party/gmp/mpn/pow_1.c
third-party/gmp/mpn/powlo.c
third-party/gmp/mpn/powm.c
third-party/gmp/mpn/powm_sec.c
third-party/gmp/mpn/pre_divrem_1.c
third-party/gmp/mpn/pre_mod_1.c
third-party/gmp/mpn/random.c
third-party/gmp/mpn/random2.c
third-party/gmp/mpn/redc_1.c
third-party/gmp/mpn/redc_1_sec.c
third-party/gmp/mpn/redc_2.c
third-party/gmp/mpn/redc_n.c
third-party/gmp/mpn/remove.c
third-party/gmp/mpn/rootrem.c
third-party/gmp/mpn/rshift.c
third-party/gmp/mpn/sbpi1_bdiv_q.c
third-party/gmp/mpn/sbpi1_bdiv_qr.c
third-party/gmp/mpn/sbpi1_div_q.c
third-party/gmp/mpn/sbpi1_div_qr.c
third-party/gmp/mpn/sbpi1_divappr_q.c
third-party/gmp/mpn/scan0.c
third-party/gmp/mpn/scan1.c
third-party/gmp/mpn/set_str.c
third-party/gmp/mpn/sqr.c
third-party/gmp/mpn/sqr_basecase.c
third-party/gmp/mpn/sqrmod_bnm1.c
third-party/gmp/mpn/sqrtrem.c
third-party/gmp/mpn/sub.c
third-party/gmp/mpn/sub_1.c
third-party/gmp/mpn/sub_n.asm
third-party/gmp/mpn/subcnd_n.c
third-party/gmp/mpn/submul_1.asm
third-party/gmp/mpn/tdiv_qr.c
third-party/gmp/mpn/toom22_mul.c
third-party/gmp/mpn/toom2_sqr.c
third-party/gmp/mpn/toom32_mul.c
third-party/gmp/mpn/toom33_mul.c
third-party/gmp/mpn/toom3_sqr.c
third-party/gmp/mpn/toom42_mul.c
third-party/gmp/mpn/toom43_mul.c
third-party/gmp/mpn/toom44_mul.c
third-party/gmp/mpn/toom4_sqr.c
third-party/gmp/mpn/toom52_mul.c
third-party/gmp/mpn/toom53_mul.c
third-party/gmp/mpn/toom62_mul.c
third-party/gmp/mpn/toom63_mul.c
third-party/gmp/mpn/toom6_sqr.c
third-party/gmp/mpn/toom6h_mul.c
third-party/gmp/mpn/toom8_sqr.c
third-party/gmp/mpn/toom8h_mul.c
third-party/gmp/mpn/toom_couple_handling.c
third-party/gmp/mpn/toom_eval_dgr3_pm1.c
third-party/gmp/mpn/toom_eval_dgr3_pm2.c
third-party/gmp/mpn/toom_eval_pm1.c
third-party/gmp/mpn/toom_eval_pm2.c
third-party/gmp/mpn/toom_eval_pm2exp.c
third-party/gmp/mpn/toom_eval_pm2rexp.c
third-party/gmp/mpn/toom_interpolate_12pts.c
third-party/gmp/mpn/toom_interpolate_16pts.c
third-party/gmp/mpn/toom_interpolate_5pts.c
third-party/gmp/mpn/toom_interpolate_6pts.c
third-party/gmp/mpn/toom_interpolate_7pts.c
third-party/gmp/mpn/toom_interpolate_8pts.c
third-party/gmp/mpn/trialdiv.c
third-party/gmp/mpn/udiv.asm
third-party/gmp/mpn/xnor_n.c
third-party/gmp/mpn/xor_n.c
third-party/gmp/mpn/zero.c
third-party/gmp/mpq/Makefile
third-party/gmp/mpz/Makefile
third-party/gmp/mpz/fac_ui.h
third-party/gmp/printf/Makefile
third-party/gmp/scanf/Makefile
third-party/gmp/stamp-h1
third-party/gmp/tests/Makefile
third-party/gmp/tests/cxx/Makefile
third-party/gmp/tests/devel/Makefile
third-party/gmp/tests/misc/Makefile
third-party/gmp/tests/mpbsd/Makefile
third-party/gmp/tests/mpf/Makefile
third-party/gmp/tests/mpn/Makefile
third-party/gmp/tests/mpq/Makefile
third-party/gmp/tests/mpz/Makefile
third-party/gmp/tests/rand/Makefile
third-party/gmp/trialdivtab.h
third-party/gmp/tune/Makefile
third-party/gmp/tune/sqr_basecase.c
third-party/google/Makefile
third-party/google/config.h
third-party/google/config.log
third-party/google/config.status
third-party/google/gtest/Makefile
third-party/google/gtest/build-aux/config.h
third-party/google/gtest/build-aux/stamp-h1
third-party/google/gtest/config.log
third-party/google/gtest/config.status
third-party/google/gtest/fused-src/gtest/.deps/
third-party/google/gtest/libtool
third-party/google/gtest/samples/.deps/
third-party/google/gtest/scripts/gtest-config
third-party/google/gtest/src/.deps/
third-party/google/gtest/test/.deps/
third-party/google/libtool
third-party/google/protobuf-lite.pc
third-party/google/protobuf.pc
third-party/google/src/.deps/
third-party/google/src/.libs/
third-party/google/src/Makefile
third-party/google/src/protoc
third-party/google/stamp-h1
