<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="edu.umd.cs.AWake" android:versionCode="1" android:versionName="1.0">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-sdk android:minSdkVersion="16"/>

	<application android:label="AWake">

		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
    
    <receiver android:name=".BootReceiver">
    	<intent-filter>
    		<action android:name="android.intent.action.BOOT_COMPLETED" />
    	</intent-filter>
    </receiver>

  	<service android:name=".AWakeService">
   		<intent-filter>
   			<action android:name="edu.umd.cs.AWake.ACTION_START_SERVICE" />
   			<action android:name="edu.umd.cs.AWake.ACTION_STOP_SERVICE" />
   		</intent-filter>
   	</service>
		
	</application>

</manifest>
